@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shizuru&display=swap');

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Shizuru", system-ui;
  font-size: calc(2.5rem + 1vw);
  margin-top: max(0.75rem, 0.75vw);
  margin-bottom: max(0.75rem, 1vw);
}

p, a {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: calc(1rem + 0.25vw);
  margin-top: max(0.5rem, 0.75vw);
  margin-bottom: max(0.5rem, 0.75vw);
}

body {
  background-image: radial-gradient(circle, rgb(191,76,92) 50%, rgba(203,101,103,255) 50%);
  background-size: 100px 100px;
  min-height: 98vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

main {
  width: fit-content;
  text-align: center;
  background-color: white;
  padding: 15px 20px;
  border-radius: 20px;
}

a {
  color: rgb(83, 82, 82);
  text-decoration: none;
}

a:hover, a:focus {
  color: rgb(226, 50, 74);
}

.main-picture-puzzle a {
  display: block;
  text-align: right;
  font-size: calc(0.75rem + 0.25vw);
  margin-bottom: 0;
  color: rgb(226, 50, 74);
}

.main-picture-puzzle a:hover, .main-picture-puzzle a:focus {
  color: rgb(233, 138, 150);
}

.main-picture-puzzle h1 {
  margin-top: 0;
}

.main-picture-puzzle .task-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-picture-puzzle .timer {
  font-size: calc(2rem + 0.25vw);
  margin: 0;
}

.main-picture-puzzle .img-container{
  position: relative;
  width: fit-content;
  height: fit-content;
}

.main-picture-puzzle img {
  max-width: 100%;
}

.main-picture-puzzle .select-box-container{
  background-color: rgb(22, 22, 22);
  padding: 5px 7px;
  border-radius: 5px;
  white-space: nowrap;
}

.main-picture-puzzle .select-box-container > * {
  color: white;
  background-color: rgb(22, 22, 22);
  border-radius: 5px;
  font-size: calc(0.75rem + 0.25vw);
}

.main-picture-puzzle .select-box-container button {
  border: 1px solid #767676;
  border-radius: 10px;
  margin-left: 5px;
}

.main-picture-puzzle .select-box-container button:hover {
  border: 1px solid rgb(226, 50, 74);
  background-color: rgb(226, 50, 74);
}

.main-picture-puzzle .incorrect-message {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  background-color: rgb(255, 162, 22);
  border: 4px solid rgb(214, 134, 14);
  border-radius: 15px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 15px;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
  animation: slideUpFadeOut 1.5s ease-in-out 1.5s forwards;
}

@keyframes slideUpFadeOut {
  0% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -100vh);
    opacity: 0;
  }
}

.main-picture-puzzle .incorrect-message * {
  margin: 0;
  line-height: 1;
}

.incorrect-icon {
  color:red;
  font-size: calc(3rem + 0.5vw);
  transform: rotate(45deg);
  font-weight: bold;
  animation: jitter 0.3s ease-in-out 3;
}

@keyframes jitter {
  0% { transform: translateX(-2px) rotate(45deg)}
  25% { transform: translateX(1px) rotate(47deg)}
  50% { transform: translateX(-2px) rotate(45deg)}
  75% { transform: translateX(1px) rotate(43deg)}
  100% { transform: translateX(-2px) rotate(45deg)}
}